:root {
	--main-bg-color: #d7d7d7;
	--secundary-bg-color: #F9F9F9;
}

body{
	background-color: var(--main-bg-color);
}

header{

}

.header-nav{
	padding: 20px;
	display: flex;
	justify-content: space-around;
}

.nome-header {

}

.header-nav{

}

.pai-header-nav-lista{
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.secao-header-principal{
	background-color: var(--secundary-bg-color);
	
}

.header-principal{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	padding: 64px 100px;
}

.container-text-header{
	flex-wrap: wrap;
	width: 90%;
}

.texto-header-principal{
	width: 90%;
	font-weight: 700;
	font-size: 52px;
	line-height: 61px;
}

.texto-header-secundario{
	width: 70%;
	padding-top: 20px;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
}

.pai-lista-header-principal{
	display: flex;
	width: 70%;
	padding-top: 50px;
	justify-content: space-around;
}

.imagem-header{

}

.secao-sobremim{
	background-color: var(--main-bg-color);
	display: flex;
	justify-content: space-around;
}

.secao-sobremim h1{
	font-weight: 700;
	font-size: 42px;
	line-height: 38px;
}

.secao-sobremim p{
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	width: 70%;
}

.container-sobremim{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 85%;
	height: 490px;
}

@media(max-width: 1024px) {
	.texto-header-principal{
		font-size: 22px;
		line-height: 26px;
	}

	.texto-header-secundario{
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}

}