:root {
	--main-bg-color: #F5F5F5;
	--secundary-bg-color: #EAF2FD;
}

body{
	background-color: var(--main-bg-color);
}

header{

}

.header-nav{
	padding: 20px;
	display: flex;
	justify-content: space-around;
}

.nome-header{
	display: flex;
}
.nome-header img{
	margin-right: 8px;
	height: 16.5px; 
}

.nome-header h1{
	font-size: 16.5px;
}

.pai-header-nav-lista{
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.item-header-nav-lista a, .item-lista-header-principal a{
	text-decoration: none;
	color: black;
	font-size: 16.5px;
	transition: 250ms;
}

.item-header-nav-lista a:hover, .item-lista-header-principal a:hover{
	color: #2A7AE4;
}

.secao-header-principal{
	
}

.header-principal{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	padding: 40px 0;
}

.container-text-header{
	flex-wrap: wrap;
	width: 90%;
}

.texto-header-principal{
	width: 90%;
	font-weight: 700;
	font-size: 52px;
	line-height: 61px;
}

.texto-header-secundario{
	width: 70%;
	padding-top: 20px;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
}

.pai-lista-header-principal{
	display: flex;
	width: 70%;
	padding-top: 50px;
	justify-content: space-around;
}

.imagem-header img{
	background: black;
	border-radius: 50px 10px 50px 10px;
}

.secao-sobremim{
	background-color: var(--secundary-bg-color);
	display: flex;
	justify-content: space-around;
}

.secao-sobremim h1{
	font-size: 42px;
	line-height: 38px;
	padding-bottom: 10px;
	text-shadow: 0px 1px 1px black;
}

.secao-sobremim p{
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	width: 62%;
}

.container-sobremim{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 85%;
	padding: 75px 0 75px;
}

.secao-hard-skills, .secao-soft-skills, .secao-hoobies-skills, .secao-formacao{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0 0;
}

.secao-hoobies-skills{
	padding-bottom: 110px;
}

.h1-secao-titulos{
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 41px;
	text-shadow: 0px 1px 1.5px black;
}

.cotainer-items-secao-skills, .cotainer-items-secao-hoobies{
	display: flex;
	width: 85%;
	flex-wrap: wrap;
}

.div-secao-skills, .div-secao-hoobies{
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	width: 176px;
	height: 174px;
	margin-right: 1.333%;
}

.div-secao-skills p{
	
}

.div-secao-skills:first-child, .div-secao-hoobies:first-child{
	margin-left: 0;
}

.div-secao-skills:last-child, .div-secao-hoobies:last-child{
	margin-right: 0;
}

.secao-formacao{
	background-color: var(--secundary-bg-color);
	padding-bottom: 80px;
}

.div-secao-formacao p{
	background-color: var(--secundary-bg-color);
}

.cotainer-items-secao-formacao{
	display: flex;
	justify-content: space-around;
	width: 85%;
}

.item-formacao{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 368px;
	flex-grow: 1;
}

.item-formacao:first-child{
}

.item-formacao:last-child{
}

.imagem-formacao{
	background-color: #FFFFFF;
	padding: 11%;
	/*padding: 24%;*/
}

.item-formacao p {
	margin-top: 10px;
	margin-left: 5px;
}

.p-formacao{
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
}

.secao-projetos{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 80px;
}

.pai-lista-projetos{
	display: flex;
	flex-direction: column;
	width: 85%;
}

.filho-lista-projetos{
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.filho-lista-projetos:first-child{
	margin-top: 0;
}

.filho-lista-projetos:nth-child(2n-1){
	align-self: flex-start;
}

.filho-lista-projetos:nth-child(2n){
	align-self: flex-end;
}
.div-imagem{
	width: 80%;
}

.filho-lista-projetos div img{
	width: 100%;
	box-shadow: 0px 4px 16px black;
}

#div-texto-projetos{
	line-height: 38px;
}

#div-texto-projetos:nth-child(2n-1){
	margin-right: 40px;
}

#div-texto-projetos:nth-child(2n){
	margin-left: 40px;
}

.div-botoes{
	display: flex;
}

.btn-rep, .btn-demo{
	width: 160px;
	height: 40px;
}

.btn-rep{
	margin: 0px 4%;
}

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*@media(max-width: 1024px) {
	.texto-header-principal{
		font-size: 22px;
		line-height: 26px;
	}

	.texto-header-secundario{
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}

}*/