/* Seção de navegação */
.section-nav{
	display: flex;
	justify-content: center;
}

.header-nav{
	display: flex;
	width: 85%;
	justify-content: space-between;
}

.nome-header{
	display: flex;
	width: 32%;
}

.nome-header img{
	margin-right: 8px;
	height: 16.5px; 
}

.nome-header h1{
	font-size: 16.5px;
}

.pai-header-nav-lista{
	display: flex;
	justify-content: space-between;
	width: 68%;
}

.item-header-nav-lista a, .item-lista-header-principal a{
	text-decoration: none;
	color: black;
	font-size: 16.5px;
	transition: 250ms;
}

.item-header-nav-lista a:hover, .item-lista-header-principal a:hover{
	color: #2A7AE4;
}


/* a partir daqui começa o header principal */
.header-principal{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

.container-text-header{
	width: 82%;
}

.texto-header-principal{
	font-weight: 700;
	font-size: clamp(1.6em , 2.3vw, 4em);
	word-spacing: -5px;
	line-height: 1em; 
	text-align: justify;
	hyphens: auto;
}

.texto-header-secundario{
	width: 70%;
	padding-top: 20px;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: justify;
}

.pai-lista-header-principal{
	display: flex;
	width: 80%;
	padding-top: 50px;
	justify-content: space-around;
}

.imagem-header img{
	background: black;
	border-radius: 50px 10px 50px 10px;
}


/* Responsivo Laptop L*/

@media screen and (max-width: 1440px){
	/* .texto-header-principal{
		font-size: 48px;
	} */

}

/* Responsivo Laptop*/

@media screen and (max-width: 1024px){
	/* .texto-header-principal{
		font-size: 36px;
		line-height: 35px;
	} */

	.texto-header-secundario{
		width: 100%;
		font-size: 20px;
	}

	.pai-lista-header-principal{
		justify-content: space-between;
	}
}

/* Reponsivo para tablet ou menores */
@media screen and (max-width: 900px){
	/* navegação */
	.section-nav{
		padding-bottom: 0;
	}

	.header-nav{
		flex-direction: column;
		align-items: center;
	}

	.nome-header{
		width: auto;
		margin-bottom: 1rem;
	}

	.pai-header-nav-lista{
		width: 100%;
	}

	/* header principal */
	.imagem-header{
		display: none;
	}

	.container-text-header{
		width: 100%;
	}

	.pai-lista-header-principal{
		width: 100%;
	}
}

@media screen and (max-width: 600px){

	.pai-header-nav-lista{
		display: none;
	}
}