.scrollTop{
	outline: none;
	border: 0;
	background-color: var(--main-bg-color);
	width: 80px;
	height: 80px;
	padding: 8px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 2%;
	top: 50px;
	z-index: 999;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all .8s;
	box-shadow: 0px 4px 16px black;
}

.scrollTop.active{
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
}

.scrollTop img{
	width: 100%;
	transform: rotate(-90deg);
}


@media screen and (max-width: 768px){

}