.secao-formacao{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.secao-formacao{
	background-color: var(--secundary-bg-color);
}

.div-secao-formacao p{
	background-color: var(--secundary-bg-color);
}

.cotainer-items-secao-formacao{
	display: flex;
	justify-content: space-around;
	width: 85%;
	flex-shrink: 1;
}

.item-formacao{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 40%;
}

.imagem-container{
	display: flex;
	justify-content: center;
	background-color: #FFFFFF;
	width: 100%;
	padding: 100px 0;
}

.imagem-formacao{
	background-color: #FFFFFF;
	min-height: 100px;
}

.item-formacao p {
	margin-top: 10px;
	margin-left: 5px;
}

.p-formacao{
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
}

@media screen and (max-width: 940px) {
	.item-formacao{
		min-width: 316px;
	}
}

@media screen and (max-width: 755px) {
	.cotainer-items-secao-formacao{
		flex-direction: column;
	}

	.item-formacao p {
		margin-bottom: 1rem;
	}

	.item-formacao:last-child p{
		margin-bottom: 0;
	}
}