.secao-projetos{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pai-lista-projetos{
	display: flex;
	flex-direction: column;
	width: 85%;
}

.filho-lista-projetos{
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.filho-lista-projetos:first-child{
	margin-top: 0;
}

.filho-lista-projetos:nth-child(2n-1){
	align-self: flex-start;
}

.filho-lista-projetos:nth-child(2n){
	align-self: flex-end;
}
.div-imagem{
	width: 80%;
}

.filho-lista-projetos div img{
	width: 100%;
	box-shadow: 0px 4px 16px black;
}

#div-texto-projetos{
	line-height: 38px;
}

#div-texto-projetos h1{
	font-weight: bold;
	font-size: 20px;
	line-height: 40px;
}

#div-texto-projetos:nth-child(2n-1){
	margin-right: 40px;
}

#div-texto-projetos:nth-child(2n){
	margin-left: 40px;
}

.div-botoes{
	display: flex;
}

.btn-rep, .btn-demo{
	width: 160px;
	height: 40px;
	font-size: 14px;
	border: 2px solid #107fdf;
	background-color: var(--secundary-bg-color);
	transition: all 0.3s;
	cursor: pointer;
}

.btn-rep{
	margin: 0px 4%;
}

.btn-rep:hover, .btn-demo:hover{
	background-color: #107fdf;
	color: var(--main-bg-color);
}